In [1]:
import pandas as pd

In [2]:
from bundles.fut_bundle import load_data, gen_asset_metadata

In [3]:
raw_data = load_data()

100%|███████████████████████████████████████████████████████████████████████████| 38344/38344 [01:16<00:00, 498.13it/s]

In [6]:
raw_data.head()

,date,open,high,low,last,change,settle,volume,open interest,symbol,close
0,2014-02-18,NaN,NaN,NaN,NaN,4.596,578.571,0.0,10.0,0DF2015,578.571
1,2014-02-19,NaN,NaN,NaN,NaN,0.862,577.709,0.0,10.0,0DF2015,577.709
2,2014-02-20,NaN,NaN,NaN,NaN,0.925,578.634,0.0,10.0,0DF2015,578.634
3,2014-02-21,NaN,NaN,NaN,NaN,1.768,576.866,3.0,10.0,0DF2015,576.866
4,2014-02-24,NaN,NaN,NaN,NaN,3.261,580.127,0.0,13.0,0DF2015,580.127

In [7]:
raw_data.count()

date             14875546
open              5641888
high              5739690
low               5740297
last               702195
change            8462286
settle           14866920
volume           14734168
open interest    14754220
symbol           14875546
close            14866920
dtype: int64

In [8]:
asset_metadata = gen_asset_metadata(raw_data)

 | Generating asset metadata.

In [9]:
asset_metadata.head()

,symbol,start_date,end_date,first_traded,root_symbol,name,exchange,multiplier,tick_size,auto_close_date,notice_date,expiration_date
0,SU1959,1959-07-01,1959-09-21,1959-07-01,S,Soybean Futures,CBT,50.0,0.02,1959-09-21,1959-09-21,1959-09-18
1,BOU1959,1959-07-01,1959-09-21,1959-07-01,BO,Soybean Oil Futures,CBT,600.0,0.01,1959-09-21,1959-09-21,1959-09-18
2,CU1959,1959-07-01,1959-09-21,1959-07-01,C,Corn Futures,CBT,50.0,0.02,1959-09-21,1959-09-21,1959-09-18
3,BOV1959,1959-07-01,1959-10-21,1959-07-01,BO,Soybean Oil Futures,CBT,600.0,0.01,1959-10-21,1959-10-21,1959-10-16
4,HGV1959,1959-07-01,1959-10-28,1959-07-01,HG,Copper Futures,COMEX,250.0,0.05,1959-10-28,1959-10-28,1959-10-16

In [8]:
asset_metadata.count()

symbol             38344
start_date         38344
end_date           38344
first_traded       38344
root_symbol        38344
exchange           21124
Name               21124
multiplier         21032
tick_size          21032
auto_close_date    38344
notice_date        38344
expiration_date    38344
dtype: int64

In [9]:
symbols = asset_metadata.symbol.unique()

In [10]:
symbols

array(['SU1959', 'BOU1959', 'CU1959', ..., 'GLIJ2021', 'RUH2021', 'ZZ2019'], dtype=object)

In [11]:
symbols.size

38344

In [12]:
asset_metadata[asset_metadata['symbol'].isin(symbols)].count()

symbol             38344
start_date         38344
end_date           38344
first_traded       38344
root_symbol        38344
exchange           21124
Name               21124
multiplier         21032
tick_size          21032
auto_close_date    38344
notice_date        38344
expiration_date    38344
dtype: int64

In [13]:
asset_metadata[asset_metadata.symbol.duplicated()]

Empty DataFrame
Columns: [symbol, start_date, end_date, first_traded, root_symbol, exchange, Name, multiplier, tick_size, auto_close_date, notice_date, expiration_date]
Index: []