In [1]:
import os
import pandas as pd
from zipline.data import bundles
from zipline.data.data_portal import DataPortal
from zipline.utils.calendars import get_calendar
from zipline.assets._assets import Future
from zipline.utils.run_algo import load_extensions

# Load extensions.py; this allows you access to custom bundles
load_extensions(
    default=True,
    extensions=[],
    strict=True,
    environ=os.environ,
)

# Set-Up Pricing Data Access
trading_calendar = get_calendar('NYSE')
bundle = 'futures'
bundle_data = bundles.load(bundle)

data = DataPortal(
    bundle_data.asset_finder,
    trading_calendar=trading_calendar,
    first_trading_day=bundle_data.equity_daily_bar_reader.first_trading_day,
    equity_minute_reader=None,
    equity_daily_reader=bundle_data.equity_daily_bar_reader,
    future_daily_reader=bundle_data.equity_daily_bar_reader,
    adjustment_reader=bundle_data.adjustment_reader,
)

C:\Users\tomek\zipline\bundles\extension.py:13: UserWarning: Overwriting bundle with name 'futures'
  end_session=end_session,

In [2]:
future = bundle_data.asset_finder.lookup_future_symbol
continuous_future = bundle_data.asset_finder.create_continuous_future
history = data.get_history_window

In [10]:
contracts = [
    # rates
    'ED', # eurodollars
    'TY', # 10y T-note
    'FV', # 5y T-note
    'TU', # 2y T-note
    'US', # U.S. Treasury bond
    'FF', # 30 day Fed funds
    'UL', # Ultra T-bond
    'SA', # 5y deliverable IRS
    'N1U',# 10y deliverable IRS
    'I3', # 30y deliverable IRS
    # equity
    'ES', # e-mini S&P 500
    'NQ', # e-mini Nasdaq 100
    'YM', # e-mini DowJones
    'MD', # e-mini S&P MidCap 400
    'NK', # Nikkei $5
    'XAF',# e-mini financial sector
    'XAK',# e-mini technology sector
    'XAP',# e-mini consumer staples sector
    'XAU',# e-mini utilities sector
    'XAY',# e-mini consumer discretionary sector
    # energy
    'CL', # WTI oil
    'NG', # natural gas
    'RB', # RBOB gasoline
    'HO', # NY Harbor ULSD
    'BZ', # Brent oil
    '71', # Ethanol
    # fx
    'EC', # EUR/USD
    'JY', # JPY/USD
    'BP', # GBP/USD
    'AD', # AUD/USD
    'CD', # CAD/USD
    'MP', # MXN/USD
    'SF', # CHF/USD
    # agriculture
    '_C', # Corn
    '_S', # Soybeans
    '_W', # Chicago SRW Wheat
    'BO', # Soybean oil
    'SM', # Soybean meal
    'LC', # Live cattle
    'KW', # KC HRW wheat
    'LN', # Lean hogs
    'DA', # Milk
    # metals
    'GC', # Gold
    'HG', # Copper
    'SI', # Silver
    'PL', # Platinum
    'PA', # Palladium
    ]

In [11]:
cont_contracts = [
    continuous_future(contract,
                        offset=0,
                        adjustment='mul',
                        roll_style='volume')
    for contract in contracts]

In [12]:
cont_contracts

[ContinuousFuture(91554134238494720, root_symbol='ED', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(95799348633337856, root_symbol='TY', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(91855400424505344, root_symbol='FV', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(95794950586826752, root_symbol='TU', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(96074226540281856, root_symbol='US', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(91837808238460928, root_symbol='FF', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(96066529958887424, root_symbol='UL', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(95491485377560576, root_symbol='SA', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(94066518307962880, root_symbol='N1U', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(92661342447665152, root_symbol='I3', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(91570626912911360, root_symbol='ES', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(94101702680051712, root_symbol='NQ', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(97193529377357824, root_symbol='YM', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(93805934052179968, root_symbol='MD', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(94095105610285056, root_symbol='NK', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(96898860261113856, root_symbol='XAF', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(96898860261113856, root_symbol='XAK', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(96898860261113856, root_symbol='XAP', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(96898860261113856, root_symbol='XAU', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(96898860261113856, root_symbol='XAY', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(90999980378095616, root_symbol='CL', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(94090707563773952, root_symbol='NG', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(95211109912477696, root_symbol='RB', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(92410653796532224, root_symbol='HO', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(90733898564173824, root_symbol='BZ', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(87592593843617792, root_symbol='71', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(91553034726866944, root_symbol='EC', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(92984598866231296, root_symbol='JY', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(90722903447896064, root_symbol='BP', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(90428234331652096, root_symbol='AD', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(90991184285073408, root_symbol='CD', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(93819128191713280, root_symbol='MP', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(95496982935699456, root_symbol='SF', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(98871384121344000, root_symbol='_C', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(98888976307388416, root_symbol='_S', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(98893374353899520, root_symbol='_W', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(90721803936268288, root_symbol='BO', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(95504679517093888, root_symbol='SM', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(93523359563841536, root_symbol='LC', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(93263874819686400, root_symbol='KW', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(93535454191747072, root_symbol='LN', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(91269360726900736, root_symbol='DA', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(92115984680288256, root_symbol='GC', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(92401857703510016, root_symbol='HG', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(95500281470582784, root_symbol='SI', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(94659155075334144, root_symbol='PL', offset=0, roll_style='volume', adjustment='mul'),
 ContinuousFuture(94647060447428608, root_symbol='PA', offset=0, roll_style='volume', adjustment='mul')]

In [13]:
import numpy as np
dates = pd.DataFrame(np.empty(2, dtype=[('from', 'datetime64[ns]'), ('to', 'datetime64[ns]')]))
dates

                 from                  to
0 1990-12-24 19:00:00 1991-12-24 19:00:00
1 1992-11-27 19:00:00 1992-12-24 19:00:00

In [14]:
dates = pd.DataFrame(cont_contracts)

In [15]:
dates = {cont.root_symbol: (cont.start_date, cont.end_date) for cont in cont_contracts}

In [16]:
dates

{'71': (Timestamp('2014-02-18 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'AD': (Timestamp('1987-01-13 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'BO': (Timestamp('1959-07-01 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'BP': (Timestamp('1975-02-13 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'BZ': (Timestamp('2011-10-03 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'CD': (Timestamp('1977-01-17 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'CL': (Timestamp('1983-03-30 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'DA': (Timestamp('1996-01-11 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-21 00:00:00+0000', tz='UTC')),
 'EC': (Timestamp('1999-01-04 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'ED': (Timestamp('1982-02-01 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'ES': (Timestamp('1997-09-09 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'FF': (Timestamp('1988-10-03 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'FV': (Timestamp('1988-05-20 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'GC': (Timestamp('1974-12-31 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'HG': (Timestamp('1959-07-01 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'HO': (Timestamp('1979-03-06 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'I3': (Timestamp('2012-10-30 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'JY': (Timestamp('1976-08-02 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'KW': (Timestamp('1976-04-09 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'LC': (Timestamp('1964-11-30 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'LN': (Timestamp('1969-06-25 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'MD': (Timestamp('1992-02-13 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'MP': (Timestamp('1995-04-25 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'N1U': (Timestamp('2014-02-18 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'NG': (Timestamp('1990-04-03 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'NK': (Timestamp('1990-09-25 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'NQ': (Timestamp('1999-06-21 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'PA': (Timestamp('1977-01-05 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'PL': (Timestamp('1968-03-01 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'RB': (Timestamp('2005-10-03 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'SA': (Timestamp('2012-10-30 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'SF': (Timestamp('1975-02-13 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'SI': (Timestamp('1963-06-13 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'SM': (Timestamp('1959-07-02 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'TU': (Timestamp('1990-06-22 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'TY': (Timestamp('1982-05-03 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'UL': (Timestamp('2012-10-30 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'US': (Timestamp('1977-08-22 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'XAF': (Timestamp('2014-02-18 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'XAK': (Timestamp('2014-02-18 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'XAP': (Timestamp('2014-02-18 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'XAU': (Timestamp('2014-02-18 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'XAY': (Timestamp('2014-02-18 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 'YM': (Timestamp('1997-10-06 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 '_C': (Timestamp('1959-07-01 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 '_S': (Timestamp('1959-07-01 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC')),
 '_W': (Timestamp('1959-07-01 00:00:00+0000', tz='UTC'),
  Timestamp('2018-11-23 00:00:00+0000', tz='UTC'))}

In [ ]:
[(c.root_symbol, c.start_date) for c in cont_contracts]

In [2]:
rb =

SyntaxError: invalid syntax (<ipython-input-2-320d966ebc78>, line 1)

In [3]:
h = history(
    assets=cont_contracts,
    end_dt=pd.Timestamp('2018-10-31'),
    bar_count=100,
    frequency='1d',
    field='price',
    data_frequency='daily'
        )

NameError: name 'history' is not defined

In [4]:
h.head()

NameError: name 'h' is not defined

In [5]:
h.iloc[0]

NameError: name 'h' is not defined

In [6]:
long_names = [
    'XAF',# e-mini financial sector
    'XAK',# e-mini technology sector
    'XAP',# e-mini consumer staples sector
    'XAU',# e-mini utilities sector
    'XAY',# e-mini consumer discretionary sector',
]

In [7]:
long_cont = [continuous_future(contract,
                                offset=0,
                                adjustment='mul',
                                roll_style='volume')
            for contract in long_names]

NameError: name 'continuous_future' is not defined

In [8]:
long_cont_his = history(
                        assets=long_cont,
                        end_dt=pd.Timestamp('2018-10-31'),
                        bar_count=100,
                        frequency='1d',
                        field='sid',
                        data_frequency='daily'
                        )

NameError: name 'history' is not defined

In [9]:
long_cont_his.applymap(lambda x: bundle_data.asset_finder.retrieve_asset(x))

NameError: name 'long_cont_his' is not defined

In [10]:
long_cont_his.columns.map(lambda x: x.root_symbol)

NameError: name 'long_cont_his' is not defined

In [11]:
dir(long_cont[1])

NameError: name 'long_cont' is not defined

In [12]:
a = pd.read_csv('C:/Users/tomek/zipline/debug/CMEGroup.csv', header=None)

In [13]:
roots = a[0]
roots = roots.tolist()
roots=[r if len(r) > 1 else '_' + r for r in roots]
roots

['IBV',
 'EM',
 'EY',
 'ED',
 'CPO',
 'ES',
 'NN',
 'TY',
 'FV',
 'N9',
 'CL',
 '_C',
 'NG',
 'V3',
 'NP',
 'B6',
 'TU',
 'E4',
 'K4',
 'US',
 'D2',
 '_S',
 'L3',
 'UL',
 'HH',
 'NQ',
 '_W',
 'GC',
 'H4',
 'O1',
 'BO',
 'H2',
 'LC',
 'D4',
 'HO',
 'I6',
 'FF',
 'SM',
 'LN',
 'RB',
 'EC',
 'JY',
 'BP',
 'K2',
 'X1',
 'OFM',
 'CD',
 'HG',
 'KW',
 'CS',
 'SP',
 'SI',
 'W6',
 'YM',
 'D9',
 '6T',
 'MP',
 'F5',
 'AD',
 'FTM',
 'N1Y',
 'L1',
 'MD',
 'HMO',
 'BK',
 'R7',
 'NK',
 '4M',
 'MTF',
 'U5',
 'P8',
 'HP',
 'LT',
 'BZ',
 'A3',
 'L9',
 'PL',
 'Z9',
 'B3',
 'R3',
 'T3',
 'N1U',
 '46',
 'K3',
 'FC',
 'J4',
 'WJ',
 'ME',
 'W4',
 'SF',
 'CY',
 'RU',
 'PA',
 'MF',
 'H3',
 'CU',
 'SA',
 'MFF',
 'HK',
 'WS',
 'U6',
 '7K',
 'GZ',
 'DA',
 'GCU',
 'FO',
 'GA',
 'FDM',
 'F2',
 'PH',
 '4P',
 'N3',
 'PG',
 'GY',
 'NE',
 'D3',
 'NL',
 'JM',
 'OPM',
 'PD',
 'BB',
 'B0',
 'I5',
 'WCC',
 'GL',
 'RBB',
 'N1',
 'RP',
 '58',
 'HA',
 'H5',
 'NEN',
 'AGA',
 'RV',
 'D0',
 'RM',
 'JP',
 'A6',
 'QP',
 'MPX',
 'HB',
 '1N',
 'BR',
 'EN',
 'KA',
 'RY',
 'ND',
 'RL',
 'HR',
 '_O',
 'NR',
 'YX',
 'SG',
 'GI',
 'E8',
 'RF',
 'DJ',
 'AFF',
 'U3',
 'DK',
 'Y1',
 'D7',
 'ABY',
 '5Z',
 'UV',
 'TZ6',
 'NX',
 'YC',
 'L5',
 'QX',
 '0D',
 'RK',
 'PTM',
 'YK',
 'CSC',
 'CZ',
 'FY',
 'MM',
 'CI',
 'KJ',
 'C0',
 'AW',
 'L6',
 'KS',
 'LY',
 'RR',
 'D8',
 'VP',
 'UX',
 'VM',
 'NKN',
 'KG',
 'NI',
 'MEO',
 'UB',
 'E5',
 'RA',
 'TR',
 'HMW',
 'VR',
 'IN',
 'MTS',
 'NS',
 'B4',
 'I3',
 'CB',
 'E3',
 'E7',
 'KI',
 'QM',
 '7H',
 'UO',
 'FH',
 'HOB',
 'UA',
 'D6',
 'P5',
 'M6E',
 'SE',
 'TC',
 'KB',
 '7Q',
 '4L',
 'FI',
 'MG',
 'TIO',
 '1NB',
 'JR',
 'YH',
 'XN',
 'MOD',
 'U4',
 'A5',
 'LB',
 'NF',
 'Q5',
 'DC',
 'EH',
 '_Z',
 'MEL',
 'P7',
 'R6',
 'NW',
 'FS',
 'QL',
 'UM',
 'DB',
 '0F',
 'QG',
 'J2',
 'L4',
 'MNC',
 'KH',
 '47',
 'EW',
 'NYF',
 'NZ',
 'SZ',
 'NH',
 'EJ',
 'NJ',
 'NFN',
 'XAU',
 'Y7',
 '9F',
 'Z1',
 'GE',
 'S4',
 'DY',
 'SSI',
 'YW',
 '1R',
 'MJN',
 'MBE',
 'XAP',
 'MNB',
 '5C',
 'XAK',
 'SD',
 '7Y',
 'PF',
 '8Z',
 'MBN',
 'BY',
 '1U',
 'PZ',
 '6Z',
 'MGC',
 'BOB',
 'TRY',
 'UN',
 'PDM',
 '71',
 '4N',
 'GCI',
 'XAF',
 'CNH',
 'ARW',
 'KK',
 'JS',
 'XAY',
 'MCC',
 'FP',
 'WQ',
 'PC',
 'J7',
 'M6B',
 '8I']

In [14]:
len(roots)

308

In [15]:
continuous_roots = [continuous_future(r, offset=0, adjustment='add', roll_style='volume') for r in roots]

NameError: name 'continuous_future' is not defined

In [16]:
h = history(
    assets=continuous_roots,
    end_dt=pd.Timestamp('2018-10-31'),
    bar_count=100,
    frequency='1d',
    field='price',
    data_frequency='daily'
        )

NameError: name 'history' is not defined

In [17]:
h.head()

NameError: name 'h' is not defined

In [18]:
jy_contracts = []
for x in ['{}{}{}'.format('GC', l, y)  for y in range(23) for l in 'FGHJKMNQUVXZ']:
    try:
        jy_contracts.append(bundle_data.asset_finder.lookup_future_symbol(x))
    except:
        pass

In [19]:
jy_contracts

[]

In [20]:
jy_dates = [(x.symbol, x.start_date, x.end_date) for x in jy_contracts]

In [21]:
jy_dates

[]

In [34]:
sid = bundle_data.asset_finder.lookup_future_symbol('GCZ00').sid
start_dt = pd.Timestamp('2000-12-1', tz='UTC', offset='C')
oc = bundle_data.asset_finder.get_ordered_contracts('GC')
chain = oc.active_chain(sid, start_dt.value)
all_chain = bundle_data.asset_finder.retrieve_all(chain)
all_chain

[Future(5551 [GCZ00]),
 Future(5580 [GCG01]),
 Future(5634 [GCJ01]),
 Future(5687 [GCM01]),
 Future(5723 [GCQ01]),
 Future(5781 [GCV01]),
 Future(5836 [GCZ01]),
 Future(5864 [GCG02]),
 Future(5923 [GCJ02]),
 Future(5975 [GCM02]),
 Future(6009 [GCQ02]),
 Future(6069 [GCV02]),
 Future(6120 [GCZ02]),
 Future(6258 [GCM03]),
 Future(6402 [GCZ03]),
 Future(6538 [GCM04]),
 Future(6683 [GCZ04]),
 Future(6820 [GCM05])]

In [17]:
c = continuous_future('I3', offset=0, roll_style='volume', adjustment='mul')

In [18]:
c.start_date

Timestamp('2012-10-30 00:00:00+0000', tz='UTC')

In [23]:
h = history(
    assets=[c],
    end_dt=pd.Timestamp('2013-04-30'),
    bar_count=100,
    frequency='1d',
    field='price',
    data_frequency='daily'
        )

In [24]:
h

                           ContinuousFuture(92661342447665152 [I3, 0, volume, mul])
2012-12-05 00:00:00+00:00                                          130.18641
2012-12-06 00:00:00+00:00                                          130.29540
2012-12-07 00:00:00+00:00                                          130.29540
2012-12-10 00:00:00+00:00                                          130.29540
2012-12-11 00:00:00+00:00                                          130.29540
2012-12-12 00:00:00+00:00                                          130.29540
2012-12-13 00:00:00+00:00                                          130.29540
2012-12-14 00:00:00+00:00                                          130.29540
2012-12-17 00:00:00+00:00                                          127.38977
2012-12-18 00:00:00+00:00                                          123.34328
2012-12-19 00:00:00+00:00                                          124.03019
2012-12-20 00:00:00+00:00                                          123.92121
2012-12-21 00:00:00+00:00                                          124.99907
2012-12-24 00:00:00+00:00                                          124.68711
2012-12-26 00:00:00+00:00                                          124.68711
2012-12-27 00:00:00+00:00                                          125.53000
2012-12-28 00:00:00+00:00                                          125.53000
2012-12-31 00:00:00+00:00                                          124.48414
2013-01-02 00:00:00+00:00                                          122.03045
2013-01-03 00:00:00+00:00                                          121.35953
2013-01-04 00:00:00+00:00                                          121.49952
2013-01-07 00:00:00+00:00                                          121.54651
2013-01-08 00:00:00+00:00                                          122.14043
2013-01-09 00:00:00+00:00                                          122.45239
2013-01-10 00:00:00+00:00                                          121.90546
2013-01-11 00:00:00+00:00                                          122.18743
2013-01-14 00:00:00+00:00                                          122.65537
2013-01-15 00:00:00+00:00                                          123.17130
2013-01-16 00:00:00+00:00                                          123.28029
2013-01-17 00:00:00+00:00                                          121.99945
...                                                                      ...
2013-03-19 00:00:00+00:00                                          118.79600
2013-03-20 00:00:00+00:00                                          118.04600
2013-03-21 00:00:00+00:00                                          118.26500
2013-03-22 00:00:00+00:00                                          118.26500
2013-03-25 00:00:00+00:00                                          118.26500
2013-03-26 00:00:00+00:00                                          118.26500
2013-03-27 00:00:00+00:00                                          119.32800
2013-03-28 00:00:00+00:00                                          119.18700
2013-04-01 00:00:00+00:00                                          119.46800
2013-04-02 00:00:00+00:00                                          119.31200
2013-04-03 00:00:00+00:00                                          120.09300
2013-04-04 00:00:00+00:00                                          121.31200
2013-04-05 00:00:00+00:00                                          124.34300
2013-04-08 00:00:00+00:00                                          122.62500
2013-04-09 00:00:00+00:00                                          121.96800
2013-04-10 00:00:00+00:00                                          120.48400
2013-04-11 00:00:00+00:00                                          120.62500
2013-04-12 00:00:00+00:00                                          120.62500
2013-04-15 00:00:00+00:00                                          123.28100
2013-04-16 00:00:00+00:00                                          122.89000
2013-04-17 00:00:00+00:00                                          123.65600
2013-04-18 00:00:00+00:00                                          124.03100
2013-04-19 00:00:00+00:00                                          123.82800
2013-04-22 00:00:00+00:00                                          123.64000
2013-04-23 00:00:00+00:00                                          123.20300
2013-04-24 00:00:00+00:00                                          123.21800
2013-04-25 00:00:00+00:00                                          122.78100
2013-04-26 00:00:00+00:00                                          123.81200
2013-04-29 00:00:00+00:00                                          124.03100
2013-04-30 00:00:00+00:00                                          123.57800

[100 rows x 1 columns]

In [22]:
x = continuous_future('AD', roll_style='volume', adjustment='None')

NameError: name 'continuous_future' is not defined