In [1]:
import pandas as pd
import numpy as np

In [2]:
symbols = ['A', 'B', 'C', 'D', 'E']

In [3]:
metadata = pd.DataFrame(np.empty(len(symbols), dtype=[
            ('start_date', 'datetime64[ns]'),
            ('end_date', 'datetime64[ns]'),
            ('auto_close_date', 'datetime64[ns]'),
            ('symbol', 'object'),
        ]))

In [4]:
metadata

  start_date   end_date auto_close_date symbol
0 1970-01-01 1970-01-01      1970-01-01   None
1 1970-01-01 1970-01-01      1970-01-01   None
2 1970-01-01 1970-01-01      1970-01-01   None
3 1970-01-01 1970-01-01      1970-01-01   None
4 1970-01-01 1970-01-01      1970-01-01   None

In [6]:
divs_splits = {'divs': pd.DataFrame(columns=['sid', 'amount',
                                          'ex_date', 'record_date',
                                          'declared_date', 'pay_date']),
               'splits': pd.DataFrame(columns=['sid', 'ratio',
                                            'effective_date'])}

In [7]:
divs_splits['divs']

Empty DataFrame
Columns: [sid, amount, ex_date, record_date, declared_date, pay_date]
Index: []

In [8]:
import pickle

In [15]:
with open('C:/Users/tomek/zipline/strategies/output.pickle', 'rb') as f:
    a = pickle.load(f)

In [16]:
a.head()

,algo_volatility,algorithm_period_return,alpha,amount,benchmark_period_return,benchmark_volatility,beta,capital_used,cost,ending_cash,...,short_exposure,short_value,shorts_count,sortino,starting_cash,starting_exposure,starting_value,trading_days,transactions,treasury_period_return
2018-01-02 21:00:00+00:00,NaN,0.000000,NaN,NaN,0.007157,NaN,NaN,0.00000,NaN,1.000000e+07,...,0.0,0.0,0,NaN,1.000000e+07,0.0,0.0,1,[],0.0
2018-01-03 21:00:00+00:00,0.000339,-0.000030,-0.065485,-1.0,0.013528,0.009338,0.036308,-302.03005,2703.209399,9.999698e+06,...,-135462.5,0.0,1,-11.224972,1.000000e+07,0.0,0.0,2,"[{'price': 2703.249999, 'commission': None, 's...",0.0
2018-01-04 21:00:00+00:00,0.000631,-0.000109,-0.047850,-1.0,0.017800,0.024077,0.026031,-787.50000,2703.209399,9.998910e+06,...,-136250.0,0.0,1,-11.839315,9.999698e+06,-135462.5,0.0,3,[],0.0
2018-01-05 21:00:00+00:00,0.000656,-0.000196,-0.039910,-1.0,0.024582,0.020574,0.017940,-875.00000,2703.209399,9.998035e+06,...,-137125.0,0.0,1,-12.830232,9.998910e+06,-136250.0,0.0,4,[],0.0
2018-01-08 21:00:00+00:00,0.000599,-0.000219,-0.011014,-1.0,0.026456,0.035112,-0.000017,-225.00000,2703.209399,9.997810e+06,...,-137350.0,0.0,1,-12.576443,9.998035e+06,-137125.0,0.0,5,[],0.0