In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('C:/Users/tomek/Desktop/CME_metadata.csv', parse_dates=['from_date', 'to_date'])

In [7]:
from bundles.expiration_downloader import ExpirationDownloader

In [8]:
a = ExpirationDownloader(df)

KeyboardInterrupt:

In [51]:
df[df['code'] == 'JYZ2018']

,code,name,description,refreshed_at,from_date,to_date
76502,JYZ2018,"Japanese Yen Futures, December 2018 (JYZ2018)","For contract details, please see <a href=http:...",2018-11-01 22:11:15,2014-02-14,2018-11-01

In [21]:
df.drop(df[
    df['description'].str.contains('Dataset description', regex=False) == True
    ].index, inplace=True)

In [22]:
df[df['code'] == 'JYZ2018']

,code,name,description,refreshed_at,from_date,to_date
76502,JYZ2018,"Japanese Yen Futures, December 2018 (JYZ2018)","For contract details, please see <a href=http:...",2018-11-01 22:11:15,2014-02-14,2018-11-01

In [23]:
# drop various indexes included in Quandl file
df.drop(df[df['code'].str.contains('INDEX', regex=False) == True].index, inplace=True)

In [24]:
df[df['code'] == 'JYZ2018']

,code,name,description,refreshed_at,from_date,to_date
76502,JYZ2018,"Japanese Yen Futures, December 2018 (JYZ2018)","For contract details, please see <a href=http:...",2018-11-01 22:11:15,2014-02-14,2018-11-01

In [25]:
# fix an error in urls in quandl meta data file:
df['description'] = df['description'].str.replace('/mac-swap-futures/', '/swap-futures/')
df['year'] = df.code.apply(lambda x: x[-4:])
df['root_symbol'] = df.code.apply(lambda x: x[:-5])
df.rename(columns={'code': 'symbol'}, inplace=True)
df['exch_symbol'] = df['symbol'].apply(lambda x: x[:-4] + x[-2:])

In [26]:
df[df['symbol'] == 'JYZ2018']

,symbol,name,description,refreshed_at,from_date,to_date,year,root_symbol,exch_symbol
76502,JYZ2018,"Japanese Yen Futures, December 2018 (JYZ2018)","For contract details, please see <a href=http:...",2018-11-01 22:11:15,2014-02-14,2018-11-01,2018,JY,JYZ18

In [27]:
# extract url from description field
df['description'] = df['description'].apply(
lambda x: x.split('<a href=')[-1].split('>http')[0].strip())

# change the url to get calendar data instead of contract specs
df['description'] = df['description'].str.replace(
    'contract_specifications', 'product_calendar_futures')

In [28]:
df[df['symbol'] == 'JYZ2018']

,symbol,name,description,refreshed_at,from_date,to_date,year,root_symbol,exch_symbol
76502,JYZ2018,"Japanese Yen Futures, December 2018 (JYZ2018)",http://www.cmegroup.com/trading/fx/g10/japanes...,2018-11-01 22:11:15,2014-02-14,2018-11-01,2018,JY,JYZ18

In [29]:
df.count()

symbol          36042
name            36042
description     36042
refreshed_at    36042
from_date       36042
to_date         36042
year            36042
root_symbol     36042
exch_symbol     36042
dtype: int64

In [30]:
df[df['symbol'] == 'JYZ2018']

,symbol,name,description,refreshed_at,from_date,to_date,year,root_symbol,exch_symbol
76502,JYZ2018,"Japanese Yen Futures, December 2018 (JYZ2018)",http://www.cmegroup.com/trading/fx/g10/japanes...,2018-11-01 22:11:15,2014-02-14,2018-11-01,2018,JY,JYZ18

In [31]:
# Filter out non-active contracts (they don't need updating)
cutoff_date = df['to_date'].max() - pd.Timedelta(days=2)

In [32]:
cutoff_date

Timestamp('2018-10-30 00:00:00')

In [33]:
df = df[df['to_date'] >= cutoff_date]

In [34]:
df.count()

symbol          6807
name            6807
description     6807
refreshed_at    6807
from_date       6807
to_date         6807
year            6807
root_symbol     6807
exch_symbol     6807
dtype: int64

In [42]:
for row in df.iteritems():
    print(row)

('symbol', 4          0DF2019
5          0DF2020
12         0DG2019
13         0DG2020
20         0DH2019
21         0DH2020
28         0DJ2019
29         0DJ2020
36         0DK2019
37         0DK2020
44         0DM2019
45         0DM2020
52         0DN2019
53         0DN2020
60         0DQ2019
61         0DQ2020
68         0DU2019
69         0DU2020
75         0DV2018
76         0DV2019
77         0DV2020
83         0DX2018
84         0DX2019
85         0DX2020
91         0DZ2018
92         0DZ2019
93         0DZ2020
100        0FF2020
109        0FG2020
118        0FH2020
            ...
164577     Z9V2021
164578     Z9V2022
164583     Z9X2018
164584     Z9X2019
164585     Z9X2020
164586     Z9X2021
164587     Z9X2022
164592     Z9Z2018
164593     Z9Z2019
164594     Z9Z2020
164595     Z9Z2021
164596     Z9Z2022
164636      ZH2019
164637      ZH2020
164675      ZM2019
164679    ZNCF2019
164683    ZNCG2019
164687    ZNCH2019
164691    ZNCJ2019
164695    ZNCK2019
164699    ZNCM2019
164703    ZNCN2019
164707    ZNCQ2019
164711    ZNCU2019
164715    ZNCV2019
164718    ZNCX2018
164722    ZNCZ2018
164769      ZU2019
164774      ZZ2018
164775      ZZ2019
Name: symbol, dtype: object)
('name', 4         Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
5         Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
12        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
13        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
20        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
21        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
28        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
29        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
36        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
37        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
44        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
45        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
52        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
53        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
60        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
61        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
68        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
69        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
75        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
76        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
77        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
83        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
84        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
85        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
91        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
92        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
93        Mini European 3.5% Fuel Oil Barges FOB Rdam (P...
100       Mini Singapore Fuel Oil 180 cst (Platts) Futur...
109       Mini Singapore Fuel Oil 180 cst (Platts) Futur...
118       Mini Singapore Fuel Oil 180 cst (Platts) Futur...
                                ...
164577    PJM AEP Dayton Hub 5MW Peak Calendar-Month Rea...
164578    PJM AEP Dayton Hub 5MW Peak Calendar-Month Rea...
164583    PJM AEP Dayton Hub 5MW Peak Calendar-Month Rea...
164584    PJM AEP Dayton Hub 5MW Peak Calendar-Month Rea...
164585    PJM AEP Dayton Hub 5MW Peak Calendar-Month Rea...
164586    PJM AEP Dayton Hub 5MW Peak Calendar-Month Rea...
164587    PJM AEP Dayton Hub 5MW Peak Calendar-Month Rea...
164592    PJM AEP Dayton Hub 5MW Peak Calendar-Month Rea...
164593    PJM AEP Dayton Hub 5MW Peak Calendar-Month Rea...
164594    PJM AEP Dayton Hub 5MW Peak Calendar-Month Rea...
164595    PJM AEP Dayton Hub 5MW Peak Calendar-Month Rea...
164596    PJM AEP Dayton Hub 5MW Peak Calendar-Month Rea...
164636       Euro/Polish Zloty Futures, March 2019 (ZH2019)
164637       Euro/Polish Zloty Futures, March 2020 (ZH2020)
164675        Euro/Polish Zloty Futures, June 2019 (ZM2019)
164679                Zinc Futures, January 2019 (ZNCF2019)
164683               Zinc Futures, February 2019 (ZNCG2019)
164687                  Zinc Futures, March 2019 (ZNCH2019)
164691                  Zinc Futures, April 2019 (ZNCJ2019)
164695                    Zinc Futures, May 2019 (ZNCK2019)
164699                   Zinc Futures, June 2019 (ZNCM2019)
164703                   Zinc Futures, July 2019 (ZNCN2019)
164707                 Zinc Futures, August 2019 (ZNCQ2019)
164711              Zinc Futures, September 2019 (ZNCU2019)
164715                Zinc Futures, October 2019 (ZNCV2019)
164718               Zinc Futures, November 2018 (ZNCX2018)
164722               Zinc Futures, December 2018 (ZNCZ2018)
164769    Euro/Polish Zloty Futures, September 2019 (ZU2...
164774    Euro/Polish Zloty Futures, December 2018 (ZZ2018)
164775    Euro/Polish Zloty Futures, December 2019 (ZZ2019)
Name: name, dtype: object)
('description', 4         http://www.cmegroup.com/trading/energy/refined...
5         http://www.cmegroup.com/trading/energy/refined...
12        http://www.cmegroup.com/trading/energy/refined...
13        http://www.cmegroup.com/trading/energy/refined...
20        http://www.cmegroup.com/trading/energy/refined...
21        http://www.cmegroup.com/trading/energy/refined...
28        http://www.cmegroup.com/trading/energy/refined...
29        http://www.cmegroup.com/trading/energy/refined...
36        http://www.cmegroup.com/trading/energy/refined...
37        http://www.cmegroup.com/trading/energy/refined...
44        http://www.cmegroup.com/trading/energy/refined...
45        http://www.cmegroup.com/trading/energy/refined...
52        http://www.cmegroup.com/trading/energy/refined...
53        http://www.cmegroup.com/trading/energy/refined...
60        http://www.cmegroup.com/trading/energy/refined...
61        http://www.cmegroup.com/trading/energy/refined...
68        http://www.cmegroup.com/trading/energy/refined...
69        http://www.cmegroup.com/trading/energy/refined...
75        http://www.cmegroup.com/trading/energy/refined...
76        http://www.cmegroup.com/trading/energy/refined...
77        http://www.cmegroup.com/trading/energy/refined...
83        http://www.cmegroup.com/trading/energy/refined...
84        http://www.cmegroup.com/trading/energy/refined...
85        http://www.cmegroup.com/trading/energy/refined...
91        http://www.cmegroup.com/trading/energy/refined...
92        http://www.cmegroup.com/trading/energy/refined...
93        http://www.cmegroup.com/trading/energy/refined...
100       http://www.cmegroup.com/trading/energy/refined...
109       http://www.cmegroup.com/trading/energy/refined...
118       http://www.cmegroup.com/trading/energy/refined...
                                ...
164577    http://www.cmegroup.com/trading/energy/electri...
164578    http://www.cmegroup.com/trading/energy/electri...
164583    http://www.cmegroup.com/trading/energy/electri...
164584    http://www.cmegroup.com/trading/energy/electri...
164585    http://www.cmegroup.com/trading/energy/electri...
164586    http://www.cmegroup.com/trading/energy/electri...
164587    http://www.cmegroup.com/trading/energy/electri...
164592    http://www.cmegroup.com/trading/energy/electri...
164593    http://www.cmegroup.com/trading/energy/electri...
164594    http://www.cmegroup.com/trading/energy/electri...
164595    http://www.cmegroup.com/trading/energy/electri...
164596    http://www.cmegroup.com/trading/energy/electri...
164636    http://www.cmegroup.com/trading/fx/emerging-ma...
164637    http://www.cmegroup.com/trading/fx/emerging-ma...
164675    http://www.cmegroup.com/trading/fx/emerging-ma...
164679    http://www.cmegroup.com/trading/metals/base/zi...
164683    http://www.cmegroup.com/trading/metals/base/zi...
164687    http://www.cmegroup.com/trading/metals/base/zi...
164691    http://www.cmegroup.com/trading/metals/base/zi...
164695    http://www.cmegroup.com/trading/metals/base/zi...
164699    http://www.cmegroup.com/trading/metals/base/zi...
164703    http://www.cmegroup.com/trading/metals/base/zi...
164707    http://www.cmegroup.com/trading/metals/base/zi...
164711    http://www.cmegroup.com/trading/metals/base/zi...
164715    http://www.cmegroup.com/trading/metals/base/zi...
164718    http://www.cmegroup.com/trading/metals/base/zi...
164722    http://www.cmegroup.com/trading/metals/base/zi...
164769    http://www.cmegroup.com/trading/fx/emerging-ma...
164774    http://www.cmegroup.com/trading/fx/emerging-ma...
164775    http://www.cmegroup.com/trading/fx/emerging-ma...
Name: description, dtype: object)
('refreshed_at', 4         2018-11-01 22:11:08
5         2018-11-01 22:11:08
12        2018-11-01 22:11:08
13        2018-11-01 22:11:08
20        2018-11-01 22:11:08
21        2018-11-01 22:11:08
28        2018-11-01 22:11:08
29        2018-11-01 22:11:08
36        2018-11-01 22:11:08
37        2018-11-01 22:11:08
44        2018-11-01 22:11:08
45        2018-11-01 22:11:08
52        2018-11-01 22:11:08
53        2018-11-01 22:11:08
60        2018-11-01 22:11:08
61        2018-11-01 22:11:08
68        2018-11-01 22:11:08
69        2018-11-01 22:11:08
75        2018-11-01 22:11:08
76        2018-11-01 22:11:08
77        2018-11-01 22:11:08
83        2018-11-01 22:11:08
84        2018-11-01 22:11:08
85        2018-11-01 22:11:08
91        2018-11-01 22:11:08
92        2018-11-01 22:11:08
93        2018-11-01 22:11:08
100       2018-11-01 22:11:09
109       2018-11-01 22:11:09
118       2018-11-01 22:11:09
                 ...
164577    2018-11-01 22:10:52
164578    2018-11-01 22:10:52
164583    2018-11-01 00:31:41
164584    2018-11-01 22:10:51
164585    2018-11-01 22:10:51
164586    2018-11-01 22:10:52
164587    2018-11-01 22:10:52
164592    2018-11-01 22:10:51
164593    2018-11-01 22:10:51
164594    2018-11-01 22:10:51
164595    2018-11-01 22:10:52
164596    2018-11-01 22:10:52
164636    2018-11-01 22:11:13
164637    2018-11-01 22:11:13
164675    2018-11-01 22:11:13
164679    2018-11-01 22:11:17
164683    2018-11-01 22:11:17
164687    2018-11-01 22:11:17
164691    2018-11-01 22:11:17
164695    2018-11-01 22:11:17
164699    2018-11-01 22:11:17
164703    2018-11-01 22:11:17
164707    2018-11-01 22:11:17
164711    2018-11-01 22:11:17
164715    2018-11-01 22:11:17
164718    2018-11-01 22:11:17
164722    2018-11-01 22:11:17
164769    2018-11-01 22:11:13
164774    2018-11-01 22:11:13
164775    2018-11-01 22:11:13
Name: refreshed_at, dtype: object)
('from_date', 4        2015-02-12
5        2017-12-04
12       2015-02-12
13       2017-12-04
20       2015-02-12
21       2017-12-04
28       2015-02-12
29       2017-12-04
36       2015-02-12
37       2017-12-04
44       2015-02-12
45       2017-12-04
52       2015-02-12
53       2017-12-04
60       2015-02-12
61       2017-12-04
68       2015-02-12
69       2017-12-04
75       2014-11-21
76       2015-02-12
77       2017-12-04
83       2014-11-21
84       2015-02-12
85       2017-12-04
91       2014-11-21
92       2015-02-12
93       2017-12-04
100      2017-12-04
109      2017-12-04
118      2017-12-04
            ...
164577   2016-07-28
164578   2017-07-13
164583   2014-02-18
164584   2015-08-19
164585   2015-11-30
164586   2016-07-28
164587   2017-07-13
164592   2014-02-18
164593   2015-08-19
164594   2015-11-30
164595   2016-07-28
164596   2017-07-13
164636   2017-09-19
164637   2018-09-18
164675   2017-12-19
164679   2018-01-18
164683   2018-03-15
164687   2018-03-29
164691   2018-04-27
164695   2018-05-30
164699   2018-06-29
164703   2018-07-30
164707   2018-08-30
164711   2018-09-27
164715   2018-10-30
164718   2017-11-27
164722   2017-12-28
164769   2018-03-20
164774   2017-06-20
164775   2018-06-19
Name: from_date, dtype: datetime64[ns])
('to_date', 4        2018-11-01
5        2018-11-01
12       2018-11-01
13       2018-11-01
20       2018-11-01
21       2018-11-01
28       2018-11-01
29       2018-11-01
36       2018-11-01
37       2018-11-01
44       2018-11-01
45       2018-11-01
52       2018-11-01
53       2018-11-01
60       2018-11-01
61       2018-11-01
68       2018-11-01
69       2018-11-01
75       2018-11-01
76       2018-11-01
77       2018-11-01
83       2018-11-01
84       2018-11-01
85       2018-11-01
91       2018-11-01
92       2018-11-01
93       2018-11-01
100      2018-11-01
109      2018-11-01
118      2018-11-01
            ...
164577   2018-11-01
164578   2018-11-01
164583   2018-10-31
164584   2018-11-01
164585   2018-11-01
164586   2018-11-01
164587   2018-11-01
164592   2018-11-01
164593   2018-11-01
164594   2018-11-01
164595   2018-11-01
164596   2018-11-01
164636   2018-11-01
164637   2018-11-01
164675   2018-11-01
164679   2018-11-01
164683   2018-11-01
164687   2018-11-01
164691   2018-11-01
164695   2018-11-01
164699   2018-11-01
164703   2018-11-01
164707   2018-11-01
164711   2018-11-01
164715   2018-11-01
164718   2018-11-01
164722   2018-11-01
164769   2018-11-01
164774   2018-11-01
164775   2018-11-01
Name: to_date, dtype: datetime64[ns])
('year', 4         2019
5         2020
12        2019
13        2020
20        2019
21        2020
28        2019
29        2020
36        2019
37        2020
44        2019
45        2020
52        2019
53        2020
60        2019
61        2020
68        2019
69        2020
75        2018
76        2019
77        2020
83        2018
84        2019
85        2020
91        2018
92        2019
93        2020
100       2020
109       2020
118       2020
          ...
164577    2021
164578    2022
164583    2018
164584    2019
164585    2020
164586    2021
164587    2022
164592    2018
164593    2019
164594    2020
164595    2021
164596    2022
164636    2019
164637    2020
164675    2019
164679    2019
164683    2019
164687    2019
164691    2019
164695    2019
164699    2019
164703    2019
164707    2019
164711    2019
164715    2019
164718    2018
164722    2018
164769    2019
164774    2018
164775    2019
Name: year, dtype: object)
('root_symbol', 4          0D
5          0D
12         0D
13         0D
20         0D
21         0D
28         0D
29         0D
36         0D
37         0D
44         0D
45         0D
52         0D
53         0D
60         0D
61         0D
68         0D
69         0D
75         0D
76         0D
77         0D
83         0D
84         0D
85         0D
91         0D
92         0D
93         0D
100        0F
109        0F
118        0F
         ...
164577     Z9
164578     Z9
164583     Z9
164584     Z9
164585     Z9
164586     Z9
164587     Z9
164592     Z9
164593     Z9
164594     Z9
164595     Z9
164596     Z9
164636      Z
164637      Z
164675      Z
164679    ZNC
164683    ZNC
164687    ZNC
164691    ZNC
164695    ZNC
164699    ZNC
164703    ZNC
164707    ZNC
164711    ZNC
164715    ZNC
164718    ZNC
164722    ZNC
164769      Z
164774      Z
164775      Z
Name: root_symbol, dtype: object)
('exch_symbol', 4          0DF19
5          0DF20
12         0DG19
13         0DG20
20         0DH19
21         0DH20
28         0DJ19
29         0DJ20
36         0DK19
37         0DK20
44         0DM19
45         0DM20
52         0DN19
53         0DN20
60         0DQ19
61         0DQ20
68         0DU19
69         0DU20
75         0DV18
76         0DV19
77         0DV20
83         0DX18
84         0DX19
85         0DX20
91         0DZ18
92         0DZ19
93         0DZ20
100        0FF20
109        0FG20
118        0FH20
           ...
164577     Z9V21
164578     Z9V22
164583     Z9X18
164584     Z9X19
164585     Z9X20
164586     Z9X21
164587     Z9X22
164592     Z9Z18
164593     Z9Z19
164594     Z9Z20
164595     Z9Z21
164596     Z9Z22
164636      ZH19
164637      ZH20
164675      ZM19
164679    ZNCF19
164683    ZNCG19
164687    ZNCH19
164691    ZNCJ19
164695    ZNCK19
164699    ZNCM19
164703    ZNCN19
164707    ZNCQ19
164711    ZNCU19
164715    ZNCV19
164718    ZNCX18
164722    ZNCZ18
164769      ZU19
164774      ZZ18
164775      ZZ19
Name: exch_symbol, dtype: object)

In [17]:
df = df[df['year'] > '2018']

In [18]:
df.count()

symbol          6246
name            6246
description     6246
refreshed_at    6246
from_date       6246
to_date         6246
year            6246
root_symbol     6246
exch_symbol     6246
dtype: int64

In [16]:
df[df['symbol'] == 'JYZ2018']

,symbol,name,description,refreshed_at,from_date,to_date,root_symbol,exch_symbol
76502,JYZ2018,"Japanese Yen Futures, December 2018 (JYZ2018)",http://www.cmegroup.com/trading/fx/g10/japanes...,2018-11-01 22:11:15,2014-02-14,2018-11-01,JY,JYZ18

In [19]:
len(df['root_symbol'].unique())

256

In [45]:
df[df['year'] < '2018']

Empty DataFrame
Columns: [symbol, name, description, refreshed_at, from_date, to_date, year, root_symbol, exch_symbol]
Index: []

In [16]:
df.head()

,symbol,name,description,refreshed_at,from_date,to_date,year,root_symbol,exch_symbol
4,0DF2019,Mini European 3.5% Fuel Oil Barges FOB Rdam (P...,http://www.cmegroup.com/trading/energy/refined...,2018-11-01 22:11:08,2015-02-12,2018-11-01,2019,0D,0DF19
5,0DF2020,Mini European 3.5% Fuel Oil Barges FOB Rdam (P...,http://www.cmegroup.com/trading/energy/refined...,2018-11-01 22:11:08,2017-12-04,2018-11-01,2020,0D,0DF20
12,0DG2019,Mini European 3.5% Fuel Oil Barges FOB Rdam (P...,http://www.cmegroup.com/trading/energy/refined...,2018-11-01 22:11:08,2015-02-12,2018-11-01,2019,0D,0DG19
13,0DG2020,Mini European 3.5% Fuel Oil Barges FOB Rdam (P...,http://www.cmegroup.com/trading/energy/refined...,2018-11-01 22:11:08,2017-12-04,2018-11-01,2020,0D,0DG20
20,0DH2019,Mini European 3.5% Fuel Oil Barges FOB Rdam (P...,http://www.cmegroup.com/trading/energy/refined...,2018-11-01 22:11:08,2015-02-12,2018-11-01,2019,0D,0DH19

In [17]:
df[df['symbol'] == 'JYZ2018']

Empty DataFrame
Columns: [symbol, name, description, refreshed_at, from_date, to_date, year, root_symbol, exch_symbol]
Index: []