In [1]:
import pandas as pd

In [4]:
file = "C:/Users/tomek/Desktop/CME_20181029.csv"

In [12]:
df = pd.read_csv(file,
                 error_bad_lines=False,
                 header=None,
                 parse_dates=[1],
                 names=['symbol', 'date', 'open', 'high', 'low', 'last', 'change', 'settle', 'volume', 'open_interest', 'x', 'y'])

In [13]:
df.count()

symbol           15121598
date             15121598
open              5725179
high              5827020
low               5827200
last               706823
change0           8626097
settle           15100578
volume           14976931
open_interest    14998092
x                    2066
y                   15410
dtype: int64

In [16]:
df.describe

<bound method NDFrame.describe of            symbol       date  open  high  low  last  change0     settle  \
0         0DF2015 2014-02-18   NaN   NaN  NaN   NaN  4.59600  578.57100
1         0DF2015 2014-02-19   NaN   NaN  NaN   NaN  0.86200  577.70900
2         0DF2015 2014-02-20   NaN   NaN  NaN   NaN  0.92500  578.63400
3         0DF2015 2014-02-21   NaN   NaN  NaN   NaN  1.76800  576.86600
4         0DF2015 2014-02-24   NaN   NaN  NaN   NaN  3.26100  580.12700
5         0DF2015 2014-02-25   NaN   NaN  NaN   NaN  6.83600  573.29100
6         0DF2015 2014-02-26   NaN   NaN  NaN   NaN  1.30600  574.59700
7         0DF2015 2014-02-27   NaN   NaN  NaN   NaN  1.17300  573.42400
8         0DF2015 2014-02-28   NaN   NaN  NaN   NaN  1.69200  575.11600
9         0DF2015 2014-03-03   NaN   NaN  NaN   NaN  7.42300  582.53900
10        0DF2015 2014-03-04   NaN   NaN  NaN   NaN  8.95700  573.58200
11        0DF2015 2014-03-05   NaN   NaN  NaN   NaN  6.83900  566.74300
12        0DF2015 2014-03-06   NaN   NaN  NaN   NaN  3.08800  569.83100
13        0DF2015 2014-03-07   NaN   NaN  NaN   NaN  3.10200  572.93300
14        0DF2015 2014-03-11   NaN   NaN  NaN   NaN  1.73500  570.33200
15        0DF2015 2014-03-12   NaN   NaN  NaN   NaN  1.70400  568.62800
16        0DF2015 2014-03-13   NaN   NaN  NaN   NaN  2.07600  566.55200
17        0DF2015 2014-03-14   NaN   NaN  NaN   NaN  4.60200  571.15400
18        0DF2015 2014-03-17   NaN   NaN  NaN   NaN  7.76800  563.38600
19        0DF2015 2014-03-18   NaN   NaN  NaN   NaN  2.21800  565.60400
20        0DF2015 2014-03-19   NaN   NaN  NaN   NaN  3.96400  561.64000
21        0DF2015 2014-03-20   NaN   NaN  NaN   NaN  3.58600  565.22600
22        0DF2015 2014-03-21   NaN   NaN  NaN   NaN  0.30000  565.52600
23        0DF2015 2014-03-24   NaN   NaN  NaN   NaN  1.27400  564.25200
24        0DF2015 2014-03-25   NaN   NaN  NaN   NaN  1.10000  565.35200
25        0DF2015 2014-03-26   NaN   NaN  NaN   NaN  2.46100  567.81300
26        0DF2015 2014-03-27   NaN   NaN  NaN   NaN  2.74400  570.55700
27        0DF2015 2014-03-28   NaN   NaN  NaN   NaN  0.59900  571.15600
28        0DF2015 2014-03-31   NaN   NaN  NaN   NaN  2.96300  568.19300
29        0DF2015 2014-04-01   NaN   NaN  NaN   NaN  6.75600  561.43700
...           ...        ...   ...   ...  ...   ...      ...        ...
15121568   ZZ2019 2018-09-18   NaN   NaN  NaN   NaN  0.00046    0.22688
15121569   ZZ2019 2018-09-19   NaN   NaN  NaN   NaN  0.00002    0.22686
15121570   ZZ2019 2018-09-20   NaN   NaN  NaN   NaN  0.00004    0.22690
15121571   ZZ2019 2018-09-21   NaN   NaN  NaN   NaN  0.00094    0.22596
15121572   ZZ2019 2018-09-24   NaN   NaN  NaN   NaN  0.00064    0.22660
15121573   ZZ2019 2018-09-25   NaN   NaN  NaN   NaN  0.00034    0.22694
15121574   ZZ2019 2018-09-26   NaN   NaN  NaN   NaN  0.00074    0.22768
15121575   ZZ2019 2018-09-27   NaN   NaN  NaN   NaN  0.00022    0.22790
15121576   ZZ2019 2018-09-28   NaN   NaN  NaN   NaN  0.00040    0.22750
15121577   ZZ2019 2018-10-01   NaN   NaN  NaN   NaN  0.00016    0.22734
15121578   ZZ2019 2018-10-02   NaN   NaN  NaN   NaN  0.00070    0.22664
15121579   ZZ2019 2018-10-03   NaN   NaN  NaN   NaN  0.00042    0.22622
15121580   ZZ2019 2018-10-04   NaN   NaN  NaN   NaN  0.00044    0.22578
15121581   ZZ2019 2018-10-05   NaN   NaN  NaN   NaN  0.00022    0.22600
15121582   ZZ2019 2018-10-08   NaN   NaN  NaN   NaN  0.00042    0.22558
15121583   ZZ2019 2018-10-09   NaN   NaN  NaN   NaN  0.00088    0.22646
15121584   ZZ2019 2018-10-10   NaN   NaN  NaN   NaN  0.00066    0.22580
15121585   ZZ2019 2018-10-11   NaN   NaN  NaN   NaN  0.00012    0.22592
15121586   ZZ2019 2018-10-12   NaN   NaN  NaN   NaN  0.00040    0.22632
15121587   ZZ2019 2018-10-15   NaN   NaN  NaN   NaN  0.00066    0.22698
15121588   ZZ2019 2018-10-16   NaN   NaN  NaN   NaN  0.00030    0.22728
15121589   ZZ2019 2018-10-17   NaN   NaN  NaN   NaN  0.00022    0.22706
15121590   ZZ2019 2018-10-18   NaN   NaN  NaN   NaN  0.00080    0.22626
15121591   ZZ2019 2018-10-19   NaN   NaN  NaN   NaN  0.00070    0.22696
15121592   ZZ2019 2018-10-22   NaN   NaN  NaN   NaN  0.00018    0.22714
15121593   ZZ2019 2018-10-23   NaN   NaN  NaN   NaN  0.00014    0.22700
15121594   ZZ2019 2018-10-24   NaN   NaN  NaN   NaN  0.00084    0.22616
15121595   ZZ2019 2018-10-25   NaN   NaN  NaN   NaN  0.00004    0.22620
15121596   ZZ2019 2018-10-26   NaN   NaN  NaN   NaN  0.00010    0.22630
15121597   ZZ2019 2018-10-29   NaN   NaN  NaN   NaN  0.00108    0.22522

          volume  open_interest   x   y
0            0.0           10.0 NaN NaN
1            0.0           10.0 NaN NaN
2            0.0           10.0 NaN NaN
3            3.0           10.0 NaN NaN
4            0.0           13.0 NaN NaN
5            0.0           13.0 NaN NaN
6            0.0           13.0 NaN NaN
7            0.0           13.0 NaN NaN
8            0.0           13.0 NaN NaN
9            0.0           13.0 NaN NaN
10           0.0           13.0 NaN NaN
11           0.0           13.0 NaN NaN
12           0.0           13.0 NaN NaN
13           0.0           13.0 NaN NaN
14           0.0           13.0 NaN NaN
15           0.0           13.0 NaN NaN
16           0.0           13.0 NaN NaN
17           0.0           13.0 NaN NaN
18           0.0           13.0 NaN NaN
19           0.0           13.0 NaN NaN
20          30.0           13.0 NaN NaN
21           0.0           43.0 NaN NaN
22           0.0           43.0 NaN NaN
23           0.0           43.0 NaN NaN
24           0.0           43.0 NaN NaN
25          10.0           43.0 NaN NaN
26           0.0           33.0 NaN NaN
27           0.0           33.0 NaN NaN
28           0.0           33.0 NaN NaN
29           0.0           33.0 NaN NaN
...          ...            ...  ..  ..
15121568     0.0            0.0 NaN NaN
15121569     0.0            0.0 NaN NaN
15121570     0.0            0.0 NaN NaN
15121571     0.0            0.0 NaN NaN
15121572     0.0            0.0 NaN NaN
15121573     0.0            0.0 NaN NaN
15121574     0.0            0.0 NaN NaN
15121575     0.0            0.0 NaN NaN
15121576     0.0            0.0 NaN NaN
15121577     0.0            0.0 NaN NaN
15121578     0.0            0.0 NaN NaN
15121579     0.0            0.0 NaN NaN
15121580     0.0            0.0 NaN NaN
15121581     0.0            0.0 NaN NaN
15121582     0.0            0.0 NaN NaN
15121583     0.0            0.0 NaN NaN
15121584     0.0            0.0 NaN NaN
15121585     0.0            0.0 NaN NaN
15121586     0.0            0.0 NaN NaN
15121587     0.0            0.0 NaN NaN
15121588     0.0            0.0 NaN NaN
15121589     0.0            0.0 NaN NaN
15121590     0.0            0.0 NaN NaN
15121591     0.0            0.0 NaN NaN
15121592     0.0            0.0 NaN NaN
15121593     0.0            0.0 NaN NaN
15121594     0.0            0.0 NaN NaN
15121595     0.0            0.0 NaN NaN
15121596     0.0            0.0 NaN NaN
15121597     0.0            0.0 NaN NaN

[15121598 rows x 12 columns]>

In [14]:
df.head()

,symbol,date,open,high,low,last,change0,settle,volume,open_interest,x,y
0,0DF2015,2014-02-18,NaN,NaN,NaN,NaN,4.596,578.571,0.0,10.0,NaN,NaN
1,0DF2015,2014-02-19,NaN,NaN,NaN,NaN,0.862,577.709,0.0,10.0,NaN,NaN
2,0DF2015,2014-02-20,NaN,NaN,NaN,NaN,0.925,578.634,0.0,10.0,NaN,NaN
3,0DF2015,2014-02-21,NaN,NaN,NaN,NaN,1.768,576.866,3.0,10.0,NaN,NaN
4,0DF2015,2014-02-24,NaN,NaN,NaN,NaN,3.261,580.127,0.0,13.0,NaN,NaN

In [22]:
df[df['symbol'] == 'ESZ2018'][df['date'] > '2018'].tail()

C:\Users\tomek\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,symbol,date,open,high,low,last,change0,settle,volume,open_interest,x,y
4726015,ESZ2018,2018-10-23,2755.75,2757.50,2692.25,2746.00,10.25,2746.25,2780303.0,2744048.0,NaN,NaN
4726016,ESZ2018,2018-10-24,2745.25,2750.00,2652.25,2674.75,82.00,2664.25,2783685.0,2762871.0,NaN,NaN
4726017,ESZ2018,2018-10-25,2673.75,2723.75,2658.75,2681.50,24.00,2688.25,2479997.0,2780617.0,NaN,NaN
4726018,ESZ2018,2018-10-26,2678.00,2692.75,2627.25,2662.25,18.75,2669.50,3410150.0,2777378.0,NaN,NaN
4726019,ESZ2018,2018-10-29,2667.00,2707.00,2603.00,2639.50,26.00,2643.50,2720779.0,2810469.0,NaN,NaN

In [29]:
df[~df['x'].isnull()].head()

Empty DataFrame
Columns: [symbol, date, open, high, low, last, change0, settle, volume, open_interest, x, y]
Index: []

In [23]:
df['date'].min()

Timestamp('1959-07-01 00:00:00')

In [24]:
df['date'].max()

Timestamp('2018-10-29 00:00:00')

In [27]:
# drop option codes which are mistakenly included in Quandl file
df.drop(df[df['symbol'].str.len() > 8].index, inplace=True)
# drop various indexes included in Quandl file
df.drop(df[df['symbol'].str.contains('INDEX', regex=False) == True].index, inplace=True)

In [30]:
del df['x']
del df['y']

In [28]:
df[df['symbol'].str.contains('INDEX', regex=False) == True]

Empty DataFrame
Columns: [symbol, date, open, high, low, last, change0, settle, volume, open_interest, x, y]
Index: []

In [31]:
df.head()

,symbol,date,open,high,low,last,change0,settle,volume,open_interest
0,0DF2015,2014-02-18,NaN,NaN,NaN,NaN,4.596,578.571,0.0,10.0
1,0DF2015,2014-02-19,NaN,NaN,NaN,NaN,0.862,577.709,0.0,10.0
2,0DF2015,2014-02-20,NaN,NaN,NaN,NaN,0.925,578.634,0.0,10.0
3,0DF2015,2014-02-21,NaN,NaN,NaN,NaN,1.768,576.866,3.0,10.0
4,0DF2015,2014-02-24,NaN,NaN,NaN,NaN,3.261,580.127,0.0,13.0